# Dependencias
# Ignorar las carpetas de dependencias en ambos proyectos
/backend/node_modules
/frontend/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Artefactos de Build de Vite (frontend)
/frontend/dist
/frontend/.vite

# Variables de entorno
.env
.env

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Base de datos SQLite (si se usara en el futuro)
/backend/db/*.db

# Archivos de build de TypeScript
*.tsbuildinfo 
